body {
    margin: 0;
    background-color: black;
    overflow: hidden;
  }


  .container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0, #271950, #000000);
  }

  

  .stars-container {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  .stars {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
  }

  .kiss-img {
    width: 45%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  .texto2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 3;
  }

  .carta {
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 100%;
    width: 40%;
    font-size: 3vw;
    text-align: justify;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0 5px rgb(211, 211, 211), 0 0 10px rgb(211, 211, 211);
    z-index: 2;
  }
  

  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }